* 
    margin: 0
    padding: 0
    box-sizing: border-box

html 
    font-size: 62.5%
    
body 
    height: 100vh
    width: 100%
    overflow: hidden 

header
    position: absolute 
    display: flex
    justify-content: center 
    align-items: center 
    width: 100%
    padding: 0 20% 0 10rem
    height: 13rem